.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-weight: bold;
  margin: 0;
}

p {
  color: #232b2b;
  margin-top: 25px;
  width: 300px;
}

.form {
  height: 490px;
  width: 650px;
  margin: 200px auto 0px 800px;
  background-color: #edec89;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .formContainer {
    margin: -60px 0px 0px 0px;
  }

  .form {
    height: 480px;
    width: 300px;
    margin-right: 10px;
  }

  p {
    width: 200px;
    margin-top: 17px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 390px) {
  .formContainer {
    margin: -40px 0px 0px 20px;
  }
  .form {
    height: 480px;
    width: 300px;
    margin-right: 10px;
  }

  p {
    width: 200px;
    margin-top: 17px;
  }
}

@media only screen and (max-width: 575.98px) {
  .formContainer {
    margin-right: 800px;
  }
  .form {
    height: 480px;
    width: 300px;
    margin-top: 180px;
  }

  p {
    width: 200px;
    margin-top: 17px;
  }
}

@media only screen and (min-width: 576px) {
  .formContainer {
    margin-right: 700px;
  }
  .form {
    height: 560px;
    width: 500px;
    margin-top: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .formContainer {
    margin-right: 600px;
  }
}

@media only screen and (min-width: 868px) {
  .formContainer {
    margin-right: 550px;
  }
}

@media only screen and (min-width: 992px) {
  .formContainer {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .formContainer {
    margin-left: 200px;
  }
}
