.main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.error {
  color: red;
  font-weight: bold;
  margin: 0;
}

p {
  color: #232b2b;
}

.form {
  min-height: 520px;
  min-width: 650px;
  margin-top: 200px;
}

@media only screen and (max-width: 767px) {
  .form {
    min-height: 460px;
    min-width: 430px;
    margin-top: 150px;
  }
  p {
    min-width: 260px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .main {
    min-height: 667px;
    max-width: 250px;
  }
  .form {
    max-height: 450px;
    max-width: 100px;
    margin: 80px 0px 0px 37px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 896px) {
  .form {
    margin: 150px 0px 0px 115px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 844px) {
  .form {
    max-height: 450px;
    max-width: 10px;
    margin: 150px 0px 0px 115px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 932px) {
  .main {
    min-height: 667px;
    max-width: 250px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 740px) {
  .main {
    min-height: 667px;
    max-width: 250px;
  }
  .form {
    margin: 150px 0px 0px 50px;
  }
}

@media only screen and (min-width: 412px) and (max-width: 915px) {
  .main {
    min-height: 667px;
    max-width: 250px;
  }
  .form {
    margin: 150px 0px 0px 110px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    min-height: 667px;
    max-width: 250px;
  }
  .form {
    margin: 180px 0px 0px 295px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .main {
    min-height: 667px;
    max-width: 250px;
  }
  .form {
    margin: 180px 0px 0px 595px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  p {
    min-width: 300px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  p {
    min-width: 300px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  p {
    min-width: 300px;
    margin-top: 30px;
  }
}
