.app {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 925px;
  min-width: 1850px;
}

.startApp {
  position: "fixed";
  top: 30%;
  text-align: center;
  width: 100%;
}

.appBar {
  min-height: 80px;
  position: static;
}

.startAppStyle {
  position: fixed;
  top: 45%;
  text-align: center;
  width: 100%;
}

.button {
  margin-left: 1300px;
  margin-top: 8px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 20px;
  border: 1px white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: beige;
}

.button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .app {
    padding: 10px;
  }

  .startAppStyle {
    top: 40%;
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    padding: 15px;
  }

  .startAppStyle {
    top: 45%;
  }

  .button {
    margin-left: 10px;
    margin-top: 15px;
  }
}

@media (min-width: 1025px) {
  .app {
  }

  .startAppStyle {
  }

  .button {
  }
}
