.app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  background-image: url("../assets/images/note.webp");
  background-size: cover;
  min-height: 932px;
  min-width: 1851px;
  margin-left: -350px;
}

.startApp {
  position: "fixed";
  top: 30%;
  text-align: center;
  width: 100%;
}

.appBar {
  min-height: 80px;
  position: static;
}

.startAppStyle {
  position: fixed;
  top: 45%;
  text-align: center;
  width: 100%;
}

.button {
  margin-left: 1300px;
  margin-top: 8px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 20px;
  border: 1px white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: beige;
}

.button:focus {
  outline: none;
}
