.taskInput {
    display: flex;
    align-content: space-between;
}

.li {
    list-style-type: none;
}

.span {
    padding-left: 10px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.isDone {
    opacity: 0.5;
}

.title {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.button {
    padding-left: 10px;
}
