.li {
    list-style-type: none;
}

.span {
    padding-left: 10px;
}

.isDone {
    opacity: 0.5;
}

.title {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.button {
    padding-left: 10px;
}
